# IMPORTING THE LIBRARIES NEEDED

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

READ THE CSV FILE

In [2]:
data = pd.read_csv(r'C:\Users\Roshini\Desktop\nba_2013.csv')
data.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [3]:
print(data.shape)

(481, 31)

# K MEANS CLUSTERS

In [5]:
from sklearn.cluster import KMeans
kmean_model = KMeans(n_clusters = 7,random_state = 41)
num_columns = data._get_numeric_data().dropna(axis = 1)
kmean_model.fit(num_columns)
labels = kmean_model.labels_
print(labels)

[5 5 5 2 5 0 6 5 1 4 1 0 4 4 1 5 4 6 0 5 2 0 5 5 1 0 5 0 0 0 4 4 1 4 0 3 4
 2 4 0 5 2 5 1 5 4 0 0 5 4 4 1 4 0 0 4 5 4 3 3 1 4 2 0 4 0 0 0 0 5 0 1 2 4
 2 0 0 5 5 5 1 4 0 1 1 2 4 1 4 1 0 0 5 0 0 1 0 1 4 2 0 6 0 0 2 1 5 4 0 0 6
 4 0 0 0 3 5 4 0 0 0 5 2 6 1 5 5 5 2 3 4 3 2 6 0 0 6 0 4 5 1 3 5 0 3 0 1 0
 4 4 2 0 5 5 1 5 5 5 1 3 2 5 6 3 4 0 0 0 0 0 1 3 5 0 4 4 2 2 5 6 0 5 0 5 1
 6 1 0 0 5 0 0 0 1 5 3 5 2 2 5 1 3 1 4 1 4 0 1 4 0 0 5 3 5 4 3 1 4 2 0 1 2
 0 0 0 6 0 0 0 6 1 0 2 5 1 5 5 2 0 1 0 0 5 0 1 3 5 5 3 0 4 4 5 2 1 4 0 0 5
 4 0 0 2 0 1 3 0 1 0 5 5 0 6 1 1 5 3 6 2 5 4 5 1 4 5 5 2 0 2 0 0 4 5 5 0 0
 1 1 2 0 2 5 5 5 4 5 4 3 0 0 3 4 0 1 3 4 5 0 1 0 0 0 0 0 0 0 5 0 1 4 3 0 6
 0 5 4 0 2 4 0 0 5 4 0 2 2 4 2 1 5 1 0 4 1 0 0 0 5 0 0 5 4 0 0 0 3 5 0 5 4
 0 4 5 5 5 0 1 2 0 5 4 5 5 4 4 4 5 2 0 0 1 5 5 1 0 0 0 0 0 5 2 5 2 5 0 5 4
 0 2 5 0 4 1 3 5 0 2 0 4 5 0 0 0 2 0 0 4 1 2 3 4 0 5 1 5 0 2 0 5 5 3 4 0 1
 5 0 1 0 1 2 2 6 4 0 5 0 0 1 3 1 0 0 1 4 5 4 4 1 0 5 5 4 0 5 0 5 1 1 6 4 5]

DISPLAYING THE VALUES OF A PLAYER Quincy Acy

In [7]:
QA = num_columns.loc[data['player']=='Quincy Acy',:]
QA

,age,g,gs,mp,fg,fga,x3p,x3pa,x2p,x2pa,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,season_end
0,23,63,0,847,66,141,4,15,62,126,...,72,144,216,28,23,26,30,122,171,2013

In [8]:
QA_list = QA.values.tolist()

In [9]:
print(kmean_model.predict(QA_list))

[5]

In [10]:
cluster_map = pd.DataFrame() # a new dataframe
cluster_map['player_name'] = data.player.values # get the vlaues of players and add them to the dataframe
cluster_map['cluster_no.'] = labels #we add the clusters column to display 
cluster_map[cluster_map['cluster_no.'] == 4]

               player_name  cluster_no.
9               Tony Allen            4
12          Chris Andersen            4
13           Alan Anderson            4
16   Giannis Antetokounmpo            4
30              Jose Barea            4
..                     ...          ...
463       Derrick Williams            4
465         Louis Williams            4
466        Marvin Williams            4
471           Nate Wolters            4
479            Cody Zeller            4

[73 rows x 2 columns]

DECOMPOSING THE COLUMNS

In [11]:
from sklearn.decomposition import PCA
pca = PCA(2)
plot_columns = pca.fit_transform(num_columns)

In [12]:
data.drop(['pos','season','season_end','bref_team_id'],axis=1,inplace =True)

In [13]:
new = data[['player','fta','fga','x3pa','pts']]
new

             player  fta   fga  x3pa   pts
0        Quincy Acy   53   141    15   171
1      Steven Adams  136   185     0   265
2       Jeff Adrien  119   275     0   362
3     Arron Afflalo  336  1011   300  1330
4     Alexis Ajinca   67   249     1   328
..              ...  ...   ...   ...   ...
476     Tony Wroten  326   808   188   939
477      Nick Young  285   889   350  1144
478  Thaddeus Young  229  1283   292  1417
479     Cody Zeller  200   404     1   490
480    Tyler Zeller  121   290     1   399

[481 rows x 5 columns]

In [14]:
new.describe()

              fta          fga        x3pa          pts
count  481.000000   481.000000  481.000000   481.000000
mean   120.642412   424.463617  110.130977   516.582121
std    131.240639   368.850833  132.751732   470.422228
min      0.000000     0.000000    0.000000     0.000000
25%     22.000000   110.000000    3.000000   115.000000
50%     73.000000   332.000000   48.000000   401.000000
75%    179.000000   672.000000  193.000000   821.000000
max    805.000000  1688.000000  615.000000  2593.000000

In [15]:
dummies = pd.get_dummies(new.player)

In [16]:
data1 = pd.concat([dummies,new],axis = 1)

In [17]:
data1.drop(['player'],axis = 1,inplace =True)

In [18]:
X = data1.drop(['pts'],axis = 1)
y = data1['pts']

In [19]:
print(X.shape)
print(y.shape)

(481, 484)
(481,)

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 100)

In [21]:
y_test = y_test[:,np.newaxis]
y_train = y_train[:,np.newaxis]

<ipython-input-21-80e1e4c909e5>:1: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  y_test = y_test[:,np.newaxis]
<ipython-input-21-80e1e4c909e5>:2: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  y_train = y_train[:,np.newaxis]

In [22]:
y_train.shape

(384, 1)

In [23]:
from sklearn.linear_model import LinearRegression
Lr = LinearRegression()
Lr.fit(X_train,y_train)

LinearRegression()

In [24]:
Lr.score(X_test,y_test)

0.9905932319277112

In [25]:
def predict_points(player,fta,fga,x3pa):    
    loc_index = np.where(X.columns==player)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = fta
    x[1] = fga
    x[2] = x3pa
    if loc_index >= 0:
        x[loc_index] = 1

    return round(Lr.predict([x])[0][0])

In [26]:
predict_points('Quincy Acy',53,141,0.26667)

-2228

In [27]:
predict_points('LeBron James',1011,136,300)

4288